.items-shopping {
    margin-top: 30rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    .text-cards {
        background-image: linear-gradient( to left,#42275a, #734b6d);
        color: #fff;
        display: flex;
        justify-content: space-around;
    }
    img{
        margin: 5% 5%;
        width: 85%;
        height: 85%;
    }
    .cards-horizontal {
        width: 65%;
    }
    .body-shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input {
        width: 50px;
        text-align: center;
    }
    .input-total {
        text-align: center;
        width: 300px;
        height: 50px;
        border-radius: 1rem;
        margin-top: 5px;
    }
    button {
        margin-top: 6rem;
        margin-bottom: 0;
        width: 15rem;
        height: 4rem;
        font-weight: 900;
        font-size: 13px;
    }
    .h3-total {
        font-weight: bold;
        color: $colorPrincipal;
        font-size: 30px;
        border-bottom: 0.3rem solid $colorPrincipal;
        padding-bottom: 1rem;
    }
    .button-total {
        margin: 1rem;
        font-weight: bold;
        font-size: 15px;
    }
    .item-shopping_others {
        border-top: 0.5rem solid #000;
     }
} 