// CONTACTANOS //

.main-form {
    background-color: map-get($colores, colorPrincipal);
    margin: 25rem 15rem 5rem 15rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    .item-form {
        input {
            font-size: 15px;
            padding: 1rem;
            border-radius: 1rem;
        }
        textarea {
            font-size: 15px;
            padding: 1rem;
            border-radius: 1rem;
        }
    }
}

.form-title {
    color: map-get($colores, colorSecundario);
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.checkbox-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    input {
        margin-right: 5px;
    }
}

.button-contact {
    button {
        @extend %buttonsContact;
        &:hover {
            background-color: map-get($colores, colorPrincipal);
            border: 0.3rem solid map-get($colores, colorSecundario);
            color: #000;
            transition: all 0.5s;
        }
    }
}

.ubication {
    position: relative;
    overflow: hidden;
    width: 100%;
    iframe {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* Modal Contact */
.modal-footer {
    a {
        color: #fff;
    }
}
  /* Modal Contact */