.main-form_account {
    background-color: map-get($colores, colorPrincipal);
    margin: 25rem auto 10rem auto;
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    .item-form {
        input {
            font-size: 15px;
            padding: 1rem;
            border-radius: 1rem;
        }
        textarea {
            font-size: 15px;
            padding: 1rem;
            border-radius: 1rem;
        }
    }
}

.checkbox-form-account {
    margin-left: 5rem;
    margin-right: 5rem;
}

.button-create {
    button {
        @extend %buttonsCreate;
        &:hover {
            background-color: map-get($colores, colorSecundario);
            color: #fff;
            border: #000;
        }
    }
    a {
        color: #000;
        &:hover {
            color: #fff;
        }
    }
}

.button-account {
    color: #000;
}