* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    height: auto;
    top: 0;
    z-index: 2;
}

.header-container {
    @include display (row, space-around, center);
    background-color: #000;
    width: 100%;
}

.header-logo {
    img {
        width: 9rem;
        height: 9rem;
        margin: 2rem;
    }
}

.container-input {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 10%;
    input {
        margin-top: 2rem;
        width: 80%;
        height: 4.5rem;
        border-radius: 1.5rem;
        border: none;
        margin-bottom: 2rem;
        text-align: center;
        justify-content: center;
        background-color: rgb(233, 233, 233);
        &:hover {
            box-shadow: 0 1px 6px 0 #20212447;
            border-color: #dfe1e500;
        }
        &::placeholder {
            text-align: center;
            color: #000000;
            font-weight: 500;
        }
    }
}

.menu-mobile, #check {
    display: none;
}

.icons-header {
    margin-left: 5%;
    margin-right: 5%;
}

.fa-solid {
    text-decoration: none;
    font-size: 2.5rem;
    color: #fafafa;
    padding: 0.5rem;
    a {
        &::after {
            content: "";
            height: 0.3rem;
            width: 0;
            background-color: map-get($colores, colorSecundario);
            display: block;
            transition: all 300ms;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.header-icon__user {
    font-size:medium;
    font-weight: bold;
    color: #fff;
    &:hover {
        color: #fafafa;
    }
}

.header-icon-shopping {
    font-size:medium;
    font-weight: bold;
    color: #fff;
    &:hover {
        color: #fafafa;
    }
}

.nav-list {
    @include display (row, center, center);
    list-style-type: none;
    font-weight: bold;
    gap: 5%;
    padding: 1rem;
    height: 70px;
    width: 100%;    
    z-index: 100;
    background-color: #fff;
}

.header-nav {
    a {
        color: rgb(0, 0, 0);
        padding: 1rem;
        &:hover { 
            border: 3px solid map-get($colores, colorSecundario);
            border-radius: 1rem;
        }
    }
}

.nav-index {
    a {
        border: 3px solid map-get($colores, colorSecundario);
        border-radius: 1rem;
    }
}

.nav-products {
    a {
        border: 3px solid map-get($colores, colorSecundario);
        border-radius: 1rem;
    }
}

.nav-carrito {
    a {
        border: 3px solid map-get($colores, colorSecundario);
        border-radius: 1rem;
    }
}

.nav-contact {
    a {
        border: 3px solid map-get($colores, colorSecundario);
        border-radius: 1rem;
    }
}

.nav-account {
    a {
        border: 3px solid map-get($colores, colorSecundario);
        border-radius: 1rem;
    }
}