.container-h3 {
    display: flex;
    justify-content: center;
    margin-top: 25rem;
    background-color: map-get($colores, colorPrincipal);
    h3 {
        color: rgb(255, 255, 255);
        width: 25rem;
        height: 5rem;
        background-color: map-get($colores, colorSecundario);
        border-radius: 2.5rem;
        line-height: 5rem;
        margin-top: 2rem;
        text-align: center;
    }
}

.container-new {
    background-color: map-get($colores, colorPrincipal);
    .col {
        margin: 3rem 2rem;
    }
    .carousel-elements {
        @include display (none, center, center);
        text-align: center;
    }
}

#carouselExampleControls {
    .carousel-control-prev-icon {
        background-image: url("../images/icons/flecha-correcta\ \(1\).png");
    }
    .carousel-control-next-icon {
        background-image: url("../images/icons/flecha-correcta.png");
    }
}

.carousel-indicators {
    button {
        background-color: #000;
    }
}

.carousel-control-prev {
    justify-content: flex-start;
    margin-left: 2.5rem;
}

.carousel-control-next {
    justify-content: flex-end;
    margin-right: 2.5rem;
}

#cards_index {
    .card {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .badges-index {
        text-align: start;
    }
    h3 {
        font-weight: bold;
    }
    button {
        @extend %buttonsCards;
    }
}