.encabezado-products {
    @include display (none, flex-end, center);
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    height: 6.5rem;
    width: 75%;
    margin: 25rem auto auto;
    select {
        background-color: map-get($colores, colorSecundario);
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: medium;
        padding: 1rem;
        border-radius: 1rem;
        margin-right: 1rem;
        cursor: pointer;
    }
}

.main-container .icons-products {
    @include display (row, space-evenly, center);
    flex-wrap: wrap;
    margin-top: 2.5%;
    width: 100%;
    img {
        border-radius: 10%;
        width: 100%;
        margin-bottom: 3%;
    }
}

#cards_products {
    button {
        @extend %buttonsCards;
    }
    .card {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        cursor: pointer;
        &:hover {
            transform: translateY(-15px);
            transition: all 0.5s;
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }
    }
    .badges-products {
        text-align: start;
    }
    h3 {
        font-weight: bold;
        padding-top: 1rem;
    }
}
