@charset "UTF-8";
.button-contact button {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 15rem;
  height: 4rem;
  font-weight: 900;
  font-size: 18px;
  border-radius: 1rem;
  background-color: #865bce;
  border: none;
  color: #fff;
}

.button-create button {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 15rem;
  height: 4rem;
  font-weight: 900;
  font-size: 18px;
  border-radius: 1rem;
  background-color: #F5F5DC;
  border: 0.3rem solid #865bce;
}

#cards_products button, #cards_index button {
  height: 3rem;
  width: 40%;
  font-weight: 600;
  font-size: 13px;
  background-color: #865bce;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  height: auto;
  top: 0;
  z-index: 2;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  width: 100%;
}

.header-logo img {
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}

.container-input {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 10%;
}
.container-input input {
  margin-top: 2rem;
  width: 80%;
  height: 4.5rem;
  border-radius: 1.5rem;
  border: none;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
}
.container-input input:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2784313725);
  border-color: rgba(223, 225, 229, 0);
}
.container-input input::-moz-placeholder {
  text-align: center;
  color: #000000;
  font-weight: 500;
}
.container-input input:-ms-input-placeholder {
  text-align: center;
  color: #000000;
  font-weight: 500;
}
.container-input input::placeholder {
  text-align: center;
  color: #000000;
  font-weight: 500;
}

.menu-mobile, #check {
  display: none;
}

.icons-header {
  margin-left: 5%;
  margin-right: 5%;
}

.fa-solid {
  text-decoration: none;
  font-size: 2.5rem;
  color: #fafafa;
  padding: 0.5rem;
}
.fa-solid a::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background-color: #865bce;
  display: block;
  transition: all 300ms;
}
.fa-solid a:hover::after {
  width: 100%;
}

.header-icon__user {
  font-size: medium;
  font-weight: bold;
  color: #fff;
}
.header-icon__user:hover {
  color: #fafafa;
}

.header-icon-shopping {
  font-size: medium;
  font-weight: bold;
  color: #fff;
}
.header-icon-shopping:hover {
  color: #fafafa;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  gap: 5%;
  padding: 1rem;
  height: 70px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.header-nav a {
  color: rgb(0, 0, 0);
  padding: 1rem;
}
.header-nav a:hover {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.nav-index a {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.nav-products a {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.nav-carrito a {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.nav-contact a {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.nav-account a {
  border: 3px solid #865bce;
  border-radius: 1rem;
}

.btn-wsp {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  bottom: 3rem;
  right: 3rem;
  background: #0df053;
  color: #fff;
  border-radius: 5rem;
  transition: all 1s;
  font-size: 30px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  text-align: center;
}
.btn-wsp:hover {
  color: #0df053;
  background: #fff;
}

.container-h3 {
  display: flex;
  justify-content: center;
  margin-top: 25rem;
  background-color: #F5F5DC;
}
.container-h3 h3 {
  color: rgb(255, 255, 255);
  width: 25rem;
  height: 5rem;
  background-color: #865bce;
  border-radius: 2.5rem;
  line-height: 5rem;
  margin-top: 2rem;
  text-align: center;
}

.container-new {
  background-color: #F5F5DC;
}
.container-new .col {
  margin: 3rem 2rem;
}
.container-new .carousel-elements {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#carouselExampleControls .carousel-control-prev-icon {
  background-image: url("../images/icons/flecha-correcta (1).png");
}
#carouselExampleControls .carousel-control-next-icon {
  background-image: url("../images/icons/flecha-correcta.png");
}

.carousel-indicators button {
  background-color: #000;
}

.carousel-control-prev {
  justify-content: flex-start;
  margin-left: 2.5rem;
}

.carousel-control-next {
  justify-content: flex-end;
  margin-right: 2.5rem;
}

#cards_index .card {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#cards_index .card:hover {
  transform: translateY(-15px);
  transition: all 0.5s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#cards_index .badges-index {
  text-align: start;
}
#cards_index h3 {
  font-weight: bold;
}
.subscription {
  background: #F5F5DC;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  margin-top: 45px;
}
.subscription a {
  color: #fff;
  padding: 1.5rem;
  background-color: #865bce;
  border-radius: 1rem;
  font-weight: 600;
}
.subscription a:hover {
  background-color: #6c35cc;
  font-size: 18px;
  transition: all 1s;
}

.encabezado-products {
  display: flex;
  flex-direction: none;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  height: 6.5rem;
  width: 75%;
  margin: 25rem auto auto;
}
.encabezado-products select {
  background-color: #865bce;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: medium;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.main-container .icons-products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.5%;
  width: 100%;
}
.main-container .icons-products img {
  border-radius: 10%;
  width: 100%;
  margin-bottom: 3%;
}

#cards_products .card {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
#cards_products .card:hover {
  transform: translateY(-15px);
  transition: all 0.5s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
#cards_products .badges-products {
  text-align: start;
}
#cards_products h3 {
  font-weight: bold;
  padding-top: 1rem;
}

.items-shopping {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 30rem;
  margin-bottom: 5rem;
}
.items-shopping .text-cards {
  background-image: linear-gradient(to left, #42275a, #734b6d);
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.items-shopping img {
  margin: 5% 5%;
  width: 85%;
  height: 85%;
}
.items-shopping .cards-horizontal {
  width: 65%;
}
.items-shopping .body-shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-shopping input {
  width: 50px;
  text-align: center;
}
.items-shopping .input-total {
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 1rem;
  margin-top: 5px;
}
.items-shopping button {
  margin-top: 6rem;
  margin-bottom: 0;
  width: 15rem;
  height: 4rem;
  font-weight: 900;
  font-size: 13px;
}
.items-shopping .h3-total {
  font-weight: bold;
  color: #F5F5DC;
  font-size: 30px;
  border-bottom: 0.3rem solid #F5F5DC;
  padding-bottom: 1rem;
}
.items-shopping .button-total {
  margin: 1rem;
  font-weight: bold;
  font-size: 15px;
}
.items-shopping .item-shopping_others {
  border-top: 0.5rem solid #000;
}

/* Modal pago */
.modal-body select {
  border-radius: 0.5rem;
  border: none;
  border-bottom: 0.2rem solid #865bce;
  padding: 0.3rem;
  background-color: #F5F5DC;
  margin-top: 1rem;
}
.modal-body .form-pay {
  background-color: #865bce;
  color: #fff;
}

/* Modal pago */
.main-form {
  background-color: #F5F5DC;
  margin: 25rem 15rem 5rem 15rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}
.main-form .item-form input {
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
}
.main-form .item-form textarea {
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
}

.form-title {
  color: #865bce;
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.checkbox-form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.checkbox-form input {
  margin-right: 5px;
}

.button-contact button:hover {
  background-color: #F5F5DC;
  border: 0.3rem solid #865bce;
  color: #000;
  transition: all 0.5s;
}

.ubication {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.ubication iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Modal Contact */
.modal-footer a {
  color: #fff;
}

/* Modal Contact */
.main-form_account {
  background-color: #F5F5DC;
  margin: 25rem auto 5rem auto;
  width: 60%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}
.main-form_account .item-form input {
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
}
.main-form_account .item-form textarea {
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
}

.checkbox-form-account {
  margin-left: 5rem;
  margin-right: 5rem;
}

.button-create button:hover {
  background-color: #865bce;
  color: #fff;
  border: #000;
  transition: all 0.5s;
}
.button-create a {
  color: #000;
}
.button-create a:hover {
  color: #fff;
}

.button-account {
  color: #000;
}

/* Modal Account */
.account-modal {
  text-align: center;
}

.modal-body img {
  width: 150px;
}

/* Modal Account */
.main-form .item-form select {
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
}

.container-select {
  background: rgb(233, 233, 233);
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1.6rem;
  border: 1px solid rgb(174, 174, 174);
  font-size: 1.8rem;
}

.button-create button:hover {
  background-color: #865bce;
  color: #fff;
  border: #000;
}
.button-create a {
  color: #000;
}
.button-create a:hover {
  color: #fff;
}

footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 5rem;
}

.footer-style {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8rem;
}
.footer-style h3 {
  margin-bottom: 1.5rem;
  text-align: start;
}
.footer-style p {
  margin-bottom: 1rem;
  text-align: start;
}
.footer-style .fa-brands {
  height: auto;
  margin-right: 5px;
}

.footer-autor {
  position: absolute;
  width: 100%;
  background-color: #000;
  bottom: 0;
}
.footer-autor p {
  text-align: center;
  color: #fff;
  padding: 1rem;
}

/* MODAL suscripción*/
.modal-title {
  font-weight: bold;
}

.btn-modal-subscription {
  background-color: #865bce;
  color: #fff;
  font-size: 15px;
}
.btn-modal-subscription:hover {
  background-color: #6c35cc;
  color: #fff;
}

.btn-secondary {
  font-size: 15px;
}

.form-modal span {
  font-size: 15px;
}
.form-modal input {
  font-size: 15px;
}

/* MODAL CARDS*/
.btn-modal-subscription a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    align-items: center;
    justify-content: center;
  }
  .header-logo {
    width: 20%;
  }
  .header-logo img {
    width: 8rem;
    height: 8rem;
    margin: 2rem;
  }
  .header-nav {
    display: none;
  }
  .icons-header {
    display: none;
  }
  .icon-mobile .fa-solid {
    cursor: pointer;
    font-size: 3rem;
  }
  .container-input {
    width: 100%;
    margin: 0;
    margin-left: 7%;
  }
  .container-input input {
    width: 75%;
  }
  /* MENU MOBILE */
  .checkbtn {
    display: block;
  }
  .menu-mobile {
    display: block;
    position: fixed;
    justify-content: center;
    right: 20px;
    cursor: pointer;
  }
  .menu-mobile i {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .menu-mobile ul {
    display: block;
    position: fixed;
    top: 100px;
    left: -100%;
    background: #F5F5DC;
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .menu-mobile ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .menu-mobile ul li:last-child {
    background: none;
    padding: 1rem;
  }
  .menu-mobile ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
  }
  .menu-mobile ul li a:hover {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  .mobile-index a {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  .mobile-products a {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  .mobile-carrito a {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  .mobile-contact a {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  .mobile-account a {
    border: 3px solid #865bce;
    border-radius: 1rem;
  }
  #check:checked ~ ul {
    left: 0;
    transition: all 0.45s;
  }
  /* INDEX */
  .container-h3 {
    margin: 15rem auto auto;
  }
  .carousel-inner img {
    width: 250px;
    height: auto;
  }
  .container-new {
    margin: auto;
  }
  .container-new .imgnew {
    display: none;
  }
  .container-new .three {
    display: none;
  }
  #cards_index .card-index-img {
    width: 280px;
    height: auto;
  }
  .cards-content {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
  }
  .container-images {
    margin: auto;
  }
  /* PRODUCTOS */
  .encabezado-products {
    width: 90%;
    display: flex;
    margin: 15rem auto auto;
  }
  .encabezado-products select {
    font-weight: 500;
    font-size: smaller;
    margin-right: 1rem;
    cursor: pointer;
  }
  .container-products {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .container-products .cards-products {
    width: 29rem;
    height: 30rem;
    margin: 2rem;
    font-size: 13px;
  }
  .container-products img {
    width: 25rem;
    height: 23rem;
    margin: 1rem 2rem;
  }
  /* CARRITO */
  .items-shopping {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }
  .items-shopping .cards-horizontal {
    width: 90%;
  }
  .items-shopping img {
    margin: 1rem;
    width: 250px;
    height: 250px;
  }
  .items-shopping .input-total {
    text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 1rem;
    margin-top: 5px;
    font-size: 12px;
  }
  /* CONTACTO */
  .main-form {
    margin: 16rem auto 5rem auto;
    border-radius: 1rem;
    width: 80%;
    font-size: 1.3rem;
  }
  .form-title {
    font-size: 2rem;
  }
  /* CUENTA */
  .main-form_account {
    margin: 20rem auto 10rem auto;
    width: 90%;
  }
  /* FOOTER */
  .footer-style {
    color: #fff;
    margin: 0 5rem;
    font-size: 13px;
    gap: 3rem;
  }
  .footer-autor {
    position: absolute;
    width: 100%;
    background-color: #000;
    bottom: 0;
  }
  .footer-autor p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  /* MENU MOBILE */
  .menu-mobile ul {
    top: 85px;
  }
  /* HEADER */
  .header-logo img {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
  }
  /* INDEX */
  .container-new .two,
.container-new .three {
    display: none;
  }
  .subscription {
    background: #F5F5DC;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2.5rem;
  }
  .subscription a {
    color: #fff;
    padding: 1rem;
    background-color: #865bce;
    border-radius: 1rem;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
  }
  .subscription a:hover {
    background-color: #6c35cc;
    font-size: 12px;
    transition: all 1s;
  }
  /* MODAL */
  .modal-title {
    font-weight: bold;
  }
  .btn-modal-subscription {
    background-color: #865bce;
    color: #fff;
    font-size: 12px;
  }
  .btn-secondary {
    font-size: 12px;
  }
  .form-modal span {
    font-size: 12px;
  }
  .form-modal input {
    font-size: 12px;
  }
  .modal-body .alert-warning {
    font-size: 12px;
  }
  /* CARRITO DE COMPRAS */
  .items-shopping {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .items-shopping .cards-horizontal {
    width: 100%;
  }
  /* Modal pago */
  .modal-body option {
    font-size: 10px;
  }
  /* Modal pago */
  /* FORMULARIO */
  .main-form {
    margin: 14rem auto 3rem auto;
    border-radius: 1rem;
    width: 85%;
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  .main-form .item-form input {
    font-size: 15px;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .main-form .item-form textarea {
    font-size: 15px;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .main-form .item-form select {
    font-size: 15px;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #757e7d;
  }
  .form-title {
    font-size: 23px;
  }
  .checkbox-form {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .checkbox-form input {
    margin-right: 5px;
  }
  .button-contact button {
    margin-top: 3rem;
    margin-bottom: 0;
    width: 13rem;
    height: 4rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 1rem;
  }
  .main-form_account {
    margin: 15rem auto 5rem auto;
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  footer {
    padding: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */